﻿@using Helmes.ViewModels
@model UserFormViewModel

<h2>Please submit user form</h2>

<form asp-action="Save" asp-controller="Home" asp-antiforgery="true" method="post">
    <table class="table table-bordered">
        <tr>
            <td><label asp-for="UserName">User Name</label></td>
            <td><input type="text" asp-for="UserName" /></td>
        </tr>
        <tr>
            <td><label asp-for="Sectors"></label></td>
            <td><select  multiple size="5" asp-for="SelectedSectors"  asp-items="Model.Sectors"></select></td>
        </tr>
        <tr>
            <td><label asp-for="AgreeToTerms">Agree To Terms</label></td>
            <td><input type="checkbox" name="AgreeToTerms" asp-for="AgreeToTerms"/></td>
        </tr>
        <tr>
            <td><input asp-for="UserId" type="hidden"/> </td>
            <td><input type="submit" value="Save" /></td>
        </tr>
    </table>
    <div asp-validation-summary="All"></div>
</form>

@ViewBag.Test

